# Supabase
# Get these from your Supabase project settings > API
NEXT_PUBLIC_SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="ey...key"

# This is for server-side operations that require bypassing RLS.
# Get this from your Supabase project settings > API
SUPABASE_SERVICE_ROLE_KEY="ey...service_role_key"

# Custom secrets for your application
# Generate a secure random string for each of these
# You can use `openssl rand -hex 32` to generate them
ADMIN_IMPORT_SECRET=""
AFFILIATE_WEBHOOK_SECRET=""
